<div *mobxAutorun class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New User</h5>
          <button type="button" (click)="cancel()" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
  <div class="container">
  
    <form autocomplete="off" [formGroup]="addUserForm" novalidate action="">
      <div class="form-group" >
        <label for="title">Title</label>
        <input type="text" class="form-control" name="" formControlName="title" id="title"
          placeholder="Please enter The title">
          <span  class="text-danger">
            {{commonStore.error}}</span>
         </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="" formControlName="description" id="description"
          placeholder="Enter the description">
       </div>
       <div class="form-group mt-1">
         <label for="">Start Date</label><br>
         <input angular-mydatepicker name="mydate"  [options]="myDatePickerOptions"
         (click)="start.openCalendar()" placeholder="select date" #start="angular-mydatepicker"/>
      </div>
      
      <div class="form-group mt-1">
        <label for="">End Date</label><br>
       
        <input angular-mydatepicker name="mydate" placeholder="select date" [options]="myDatePickerOptions" 
        (click)="end.openCalendar()" #end="angular-mydatepicker"/>
     </div>
       <div class="form-group mt-2">
       <label for="">Upload File</label> 
       <img class="mt-2" [src]="url" alt="" height="100"><br>
       <input  type="file" class="form-control" multiple style="height: 100%;" accept="image/*" formControlName="files" id="files" class="file-upload"  (change)="onFileSelected($event)" #fileUpload >
      </div>
      <div>
    </div>
      </form>
  </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="cancel()" id="cancel" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" class="btn btn-success "  [disabled]=""  (click)="save()">{{"ADD" | translate }}</button>
          <button type="button" *ngIf="showUpdate" class="btn btn-success" [disabled]=""  (click)="editUser()">{{"UPDATE" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  
