<app-nav [addvisible]="true" [editvisible]="false"></app-nav>

<div *mobxAutorun class="bg-light">
  <div class="search-container">
    <input type="text" name="search-box" class="search-box" id="" [(ngModel)]="term" autocomplete="off"
      placeholder="Search...">
  </div>
  <div style="text-align: center;padding-top:25px; ">
    <h1>USER DETAILS</h1>
  </div>
  <div class="container p-4 tablediv">
    <table class=" table table-trapped">
      <thead>
        <tr>
          <th (click)="sort('id')">Id&nbsp; <i class="fa fa-sort"></i> </th>
          <th (click)="sort('title')">Title&nbsp;<i class="fa fa-sort"></i> </th>
          <th (click)="sort('description')">Description&nbsp;<i class="fa fa-sort"></i> </th>
         
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of CommonStore.userList 
        |orderBy : key :reverse
         | filter:term 
         |paginate : {
          itemsPerPage:CommonStore.itemsPerPage,
          currentPage:CommonStore.currentPage,
          totalItems:CommonStore.totalItems}
            ">


          <td><a class=" profileButton" routerLink="/user-profile/{{data.id}}">{{data.id}}</a></td>
          <td><a class=" profileButton" routerLink="/user-profile/{{data.id}}">{{data.title}}</a></td>
          <td><a class=" profileButton" routerLink="/user-profile/{{data.id}}">{{data.description}}</a></td>
        

          <a (click)="onEdit(data)" class="btn userButtons text-dark bg-success m-1" type="button" data-bs-toggle="modal" data-bs-target="#addModal">{{"EDIT" |
            translate}}</a>
          <a type="button" class="btn bg-danger userButtons m-1 text-dark" (click)="deleteUser(data.id)">{{"DELETE" |
            translate}}</a>
            
             </tr>

      </tbody>

    </table>

  </div>


  <!-- Button trigger modal -->

  <app-modal [showAdd]="showAdd" [showUpdate]="showUpdate"></app-modal>
  <pagination-controls [previousLabel]="'previous'" [nextLabel]="'next'" (pageChange)="pageChange($event)"
    class="my-pagination"></pagination-controls>
</div>
