<app-nav [addvisible]="false" [editvisible]="true"></app-nav>
<!-- prfile-page -->
<div class="container-fluid p-4">

  <div *mobxAutorun class="pt-2" style="text-align: center;">
    <h1>{{"DETAILS" | translate }} {{"PAGE" | translate }} </h1>
  </div>
  <div class="card card-inverse card-style p-4 " style=" border-color: #333;">

    <div class="card-block">
      <p class="card-title">Id: {{id}}</p>
      <p class="card-text"><strong>Title: </strong> {{UserModelObj.title}}</p>
      <p class="card-text"><strong>Description: </strong> {{UserModelObj.description}}</p>
      <p>Organization_ID: 1</p>

    </div>
  </div>
</div>

<app-modal [showUpdate]="true" [showAdd]="false"></app-modal>